
@{
    ViewData["Title"] = "AccessDenied";
}
<!--  
<h1>No tiene acceso para aceder a esta seccion </h1>
<a asp-controller="Usuarios" asp-action="Index">Loguearme</a>-->


<section>
    <div class="container">
        <div class="row">
            <div class="col-6 mt-4">
                <img class="logo__img"
                     src="~/img/image_processing20191202-14263-ydyw15.png"
                     alt="" />
            </div>

            <div class="col-6">

                <h1 class="text-white mt-5">You do not have access to access this section </h1>
                <a asp-controller="Usuarios" asp-action="Index" class="btn btn-primary float-end">
                    log in
                </a>
            </div>
        </div>
    </div>
</section>