@model RedSocial.Core.Application.Viewmodel.AccounsViewModel.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "ForgotPassword";
}

<!--   
<h1>ForgotPassword</h1>


@if (Model.HasError)
{
    <h1>@Model.Error</h1>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
}
<h1>Olvide Mi contraseña</h1>
<form asp-controller="User" asp-action="ForgotPassword" method="post">
    <input asp-for="Email" placeholder="Correo" />



    <button type="submit">Enviar</button>

</form>-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-6 mt-4">
                <img class="logo__img"
                     src="~/img/image_processing20191202-14263-ydyw15.png"
                     alt="" />
            </div>
           

            <div class="col-6">
                <form asp-controller="User" asp-action="ForgotPassword" method="post">
                    <h1 class="text-white text-bold mt-5  ">Forgot Password</h1>

                @if (Model.HasError)
                {
                    <p class="text-secondary mt-3">@Model.Error</p>
                    <!--   <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>-->
                }
                @Html.ValidationSummary(false, "", new { @class = "text-secondary" })

                <input class=" mt-4 text-white w-50 input__login--emailOrUserName" type="text" asp-for="Email" placeholder="User Name or Email">
                <button class="btn btn-secondary mt-4 m-2 w-50 enviar__login">
                    Next
                </button>
                </form>
            </div>
        </div>
        </div>
</section>


